<% @properties.each do |property| %>
  <div class="property row clearfix">
    <h2>
      <%= link_to property.name, property %><br>
      <small class="adress"><%= property.address %></small>
    </h2>

    <div class="btn-group">
      <% if can? :show, Property %>
        <%= link_to 'Mostrar', property, class: "btn btn-default btn-sm" %>
      <% end %>
      <% if can? :edit, Property %>
        <%= link_to 'Editar', edit_property_path(property), class: "btn btn-default btn-sm" %>
      <% end %>
      <% if can? :destroy, Property %>
        <%= link_to 'Eliminar', property, method: :delete, class: "btn btn-default btn-sm", data: { confirm: 'Estás seguro?' } %>
      <% end %>

    </div>
  </div>
<% end %>

<br />
<% if can? :create, Property %>
  <%= link_to 'Crear centro', new_property_path %>
<% end %>
