<p id="notice"><%= notice %></p>

<h1>Centros Comerciales</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.name %></td>
        <td><%= property.address %></td>
        <% if can? :show, Property %>
          <td><%= link_to 'Show', property %></td>
        <% end %>
        <% if can? :edit, Property %>
          <td><%= link_to 'Edit', edit_property_path(property) %></td>
        <% end %>
        <% if can? :destroy, Property %>
          <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <td> <%= link_to 'Locales', '#' %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, Property %>
  <%= link_to 'New Property', new_property_path %>
<% end %>
