<h1>Roles</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%= role.name %></td>
        <td><%= role.description %></td>
        <% if can? :show, Role %>
          <td><%= link_to 'Mostrar', role %></td>
        <% end %>
        <% if can? :edit, Role %>
          <td><%= link_to 'Editar', edit_role_path(role) %></td>
        <% end %>
        <% if can? :destroy, Role %>
          <td><%= link_to 'Eliminar', role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, Role %>
  <%= link_to 'Crear Rol', new_role_path %>
<% end %>
