<p>
  <strong>Nombre del Permiso:</strong>
  <%= @role.name %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @role.description %>
</p>

<p>
  <strong>Usuarios con este Permiso:</strong>
  <%= @associated_users %>
</p>

<%= link_to 'Editar', edit_role_path(@role) %> |
<%= link_to 'Volver', roles_path %>
