<%= form_for(@sale, html: {class: "nifty_form"}) do |f| %>
  <% if @sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% @sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sales_date, "Fecha de venta" %><br>
    <%= f.date_select :sales_date %>
  </div>
  <div class="field">
    <%= f.label :number_of_bills, "Número de boletas" %><br>
    <%= f.number_field :number_of_bills %>
  </div>
  <div class="field">
    <%= f.label :bill_sale_amount, "Monto total boletas" %><br>
    <%= f.number_field :bill_sale_amount %>
  </div>
  <div class="field">
    <%= f.label :number_of_invoices, "Número de facturas" %><br>
    <%= f.number_field :number_of_invoices %>
  </div>
  <div class="field">
    <%= f.label :invoice_sale_amount, "Monto total facturas" %><br>
    <%= f.number_field :invoice_sale_amount %>
  </div>
  <div class="actions">
    <%= f.submit "Aceptar" %>
  </div>
<% end %>
