<h1>Listing Sales</h1>

<table>
  <thead>
    <tr>
      <th>Sales date</th>
      <th>Number of bills</th>
      <th>Bill sale amount</th>
      <th>Number of invoices</th>
      <th>Invoice sale amount</th>
      <th>Store Name</th>
      <th>Store Number</th>
      <th>Property</th>
      <th>Sale Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.sales_date %></td>
        <td><%= sale.number_of_bills %></td>
        <td><%= sale.bill_sale_amount %></td>
        <td><%= sale.number_of_invoices %></td>
        <td><%= sale.invoice_sale_amount %></td>
        <td><%= sale.store.name %></td>
        <td><%= sale.store.number %></td>
        <td><%= sale.store.property.name %></td>
        <td><%= sale.user.name %></td>
        <td><%= link_to 'Show', sale %></td>
        <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
        <td><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sale', new_sale_path %>
