<p>
  <strong>Fecha de ingreso de venta:</strong>
  <%= @sale.sales_date %>
</p>

<p>
  <strong>Cantidad de boletas emitidas:</strong>
  <%= @sale.number_of_bills %>
</p>

<p>
  <strong>Suma total de boletas emitidas:</strong>
  <%= @sale.bill_sale_amount %>
</p>

<p>
  <strong>Cantidad de facturas emitidas:</strong>
  <%= @sale.number_of_invoices %>
</p>

<p>
  <strong>Suma total de facturas emitidas:</strong>
  <%= @sale.invoice_sale_amount %>
</p>

<p>
  <strong>Nombre de Local:</strong>
  <%= @sale.store.name %>
</p>

<p>
  <strong>Número de Local:</strong>
  <%= @sale.store.number %>
</p>

<p>
  <strong>Centro Comercial:</strong>
  <%= @sale.store.property.name %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @sale.user.name %>
</p>

<% if can? :edit, @sale %>
  <%= link_to 'Editar', edit_sale_path(@sale) %> |
<% end %>

<%= link_to 'Volver', sales_path %>
